// pages#home
.btn-ctr-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}

.btn-cherry{
  background-color: $cherry;
  color: $white;
  // width: fit-content;
  border-radius: 12px;
  // box-shadow: 5px 8px 15px 5px $medium-olive;
}

.btn-cherry h3{
  font-size: 24px;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

a:hover {
  text-decoration: none;
  color: $white;
}

.btn-large{
  font-size: 24px;
  padding: 15px 25px;
  width: 350px;
}

.btn-large:hover{
  background-color: $dark-olive;
}

// teachers#index => search_bar
.btn-search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px;
  width: 125px;
}

.btn-search:hover{
  background-color: $dark-olive;
}

// teachers#index cards
.btn-card{
  padding: 8px 65px;
  margin-left: 57px;
  margin-right: 57px;
  margin-bottom: 24px;
  box-shadow: 5px 8px 15px 5px $dark-olive;
}
.btn-card:hover{
  background-color: $medium-olive;
}

// teachers#show
.btn-reservation{
  padding: 10px 65px;
  margin: 12px 108px;
}

.btn-reservation:hover{
  background-color: $dark-olive;
}

// users#show
.btn-lesson{
  width: 200px;
  padding: 10px 17px;
}

.navbar-side button{
  width: 400px;
  padding: 15px 0px;
}

.navbar-side button:hover{
  background-color: $medium-olive;
  border: 2px solid $medium-olive;
}

.mb-36{
  margin-bottom: 36px;
}
