// teachers#index
.card{
  background-color: $dark-olive;
  width: fit-content;
  border-radius: 12px;
  width: 23%;
  margin: 12px 12px;
  position: relative;
  border: solid 2px $light-olive;
}

.cards-ctr{
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:flex-start;
  margin-bottom: 36px;
}

.card img{
  width: 100%;
  border-radius: 12px 12px 0px 0px ;
  object-fit: cover;
  object-position: center;
}

.card-text h2{
  font-size: 22px;
}

.card-text h3{
  font-size: 16px;
}

.bold-text{
  font-weight: 700;
  padding-top: 12px;
}

.card-text h4{
  color: $light-olive;
  font-size: 16px;
}

.pt-12{
  padding-top: 12px;
}

.card-text{
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 12px;
}

.online-tag{
  background-color: $dark-olive;
  padding: 0px 9px;
  padding-top: 2px;
  padding-bottom: 4px;
  position: absolute;
  left: 238px;
  top: 11px;
  border-radius: 6px;
  font-variant: all-petite-caps;
  font-weight: 700;
}

// teachers#show
.lesson-flex{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.description{
  color: black;
  width: 50%;
}

.description p{
  line-height: 35px;
}

.description h4{
  color: $dark-olive;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 24px;
}

.description .type-text{
  padding: 24px 0px;
}

.card-reservation{
  background-color: $medium-olive;
  width: 35%;
  border-radius: 24px;
  padding: 25px;
  height: fit-content;
  position: sticky;
  top: 0px;
  box-shadow: 5px 8px 15px 5px $dark-olive;
}

.description img{
  width: 50%;
  object-fit: cover;
}

#new_reservation .form-select {
  background-color: $dark-olive;
  border: 2px solid $dark-olive;
  color: $white;
  fill: $white;
}
