.navbar-lewagon {
  justify-content: space-between;
  background: $dark-olive;
  margin: 36px 0px;
  padding: 0px 48px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h1{
  color: $white;
  margin-bottom: 0;
}

.navbar-nav{
  align-items: center;
}

.navbar-nav i{
  font-size: 18px;
  padding-left: 12px;
}
